SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=contact@orglife.co.in
SMTP_PASSWORD=fhig babf xzzi jdhj

CONTACT_TO=contact@orglife.co.in
CONTACT_FROM=contact@orglife.co.in

NEXT_PUBLIC_SITE_URL=https://orglife.co.in

NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=
NEXT_PUBLIC_YANDEX_VERIFICATION=
